.Maincontainer {
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-evenly;
  margin-top: 10rem;
  margin-left: auto;
  gap:0.8rem;
  align-items: center;
}
.imgcontainer {
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-between;
  align-items: center;
}
.imgcontainer > img {
  object-fit: contain;
  width: 20rem;
  height: 23rem;
}
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  html {
    font-size: 13.5px;
  }
  .imgcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .imgcontainer > img {
    object-fit: contain;
    width: 22rem;
    height: 24rem;
  }
}

/* Larger than tablet */
@media (min-width: 768px) {
  html {
    font-size: 14.5px;
  }
  .Maincontainer {
    display: flex;
    flex-direction: row;
    height: max-content;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-left: auto;
    max-width: 100%;
  }
  .imgcontainer > img {
    object-fit: contain;
    width: 15rem;
    height: 20rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  html {
    font-size: 15.5px;
  }
  .imgcontainer > img {
    object-fit: contain;
    width: 18rem;
    height: 20rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  html {
    font-size: 16.5px;
  }
}
